service: codebox-rollup

package:
  exclude:
    - package.json
    - node_modules/**
    - yarn.lock
    - jest.config.js
    - buildspec.yml
    - babel.config.js
    - src/rollupDeps/**
    - rollupDeps.zip
provider:
  name: aws
  runtime: nodejs10.x
  memorySize: 1024
  timeout: 30
  region: eu-west-1
  logs:
    restApi: true
  environment:
    NODE_PATH: './:/opt/node_modules'
functions:
  rollup:
    handler: dist/lambda.default
    layers:
      - {Ref: RollupDepsLambdaLayer}
    events:
      - http:
          path: /rollup
          method: post
          cors: true
layers:
  rollupDeps:
    name: rollupDeps
    package:
      artifact: rollupDeps.zip
    description: Runtime deps for codebox rollup lambda
    compatibleRuntimes:
      - nodejs10.x
